*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Libre Franklin', sans-serif; }

.container {
  display: grid;
  grid-template-rows: 10vh 80vh 80vh 60vh 10vh;
  grid-template-columns: 1fr;
  width: 100vw;
  font-size: 1.5rem; }

.btn {
  background-color: #54B0FD;
  color: #f7f7f7;
  display: inline-block; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .75rem 7.5rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 3.5rem;
    border-radius: .5rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(23, 29, 28, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  background-color: #63768d;
  color: #f7f7f7;
  border-bottom-style: solid; }
  .header__name {
    align-self: center;
    justify-self: center;
    font-size: 4.5rem;
    font-weight: bolder; }

.about {
  background-image: linear-gradient(to left bottom, rgba(10, 34, 57, 0.8), rgba(99, 118, 141, 0.8)), url("../img/boundary-waters.jpg");
  border-top-style: solid;
  border-top-color: #f7f7f7;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr; }
  .about__textbox {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #54B0FD; }

.projects {
  display: grid;
  background-image: linear-gradient(to right bottom, rgba(84, 176, 253, 0.8), rgba(10, 34, 57, 0.8)), url("../img/minneapolis_skyline.jpg");
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr repeat(4, 2fr) 1fr; }
  .projects__header {
    font-size: 4rem;
    font-weight: bolder;
    color: #0A2239;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center; }
  .projects__card {
    background-color: #f7f7f7;
    width: 25rem;
    height: 45rem;
    border-radius: .4rem;
    border-style: solid;
    border-width: .1rem;
    border-radius: .4rem;
    border-color: #0A2239;
    display: grid;
    grid-template-columns: [card-start] 1fr [card-end];
    grid-template-rows: [img-start] 1fr [img-end] 1fr [title-end] 1fr [desc-end] 1fr [button-end]; }
    .projects__card-images {
      width: inherit;
      border-style: solid;
      border-width: .1rem;
      border-radius: .4rem;
      border-color: #0A2239;
      grid-row: img-start / img-end;
      grid-column: card-start / card-end; }
    .projects__card-title {
      grid-column: card-start / card-end;
      grid-row: img-end / title-end;
      justify-self: center;
      align-self: center;
      font-size: 3rem;
      font-weight: bold; }
    .projects__card-description {
      grid-column: card-start / card-end;
      grid-row: title-end / desc-end;
      justify-self: center;
      align-self: center; }
    .projects__card-btn {
      grid-column: card-start / card-end;
      grid-row: desc-end / button-end;
      height: 4rem;
      align-self: end; }
    .projects__card-1 {
      grid-row: 2 /3;
      grid-column: 2 / 3;
      justify-self: center;
      padding: 2rem; }
    .projects__card-2 {
      grid-row: 2 /3;
      grid-column: 3 / 4;
      justify-self: center;
      padding: 2rem; }
    .projects__card-3 {
      grid-row: 2 /3;
      grid-column: 4 / 5;
      justify-self: center;
      padding: 2rem; }
    .projects__card-4 {
      grid-row: 2 /3;
      grid-column: 5 / 6;
      justify-self: center;
      padding: 2rem; }

.contact {
  background-color: #0A2239;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  color: #fff;
  font-size: 2rem;
  border-top: solid; }
  .contact__form {
    grid-column: 2 / 5;
    justify-self: center;
    margin-top: 2rem;
    margin-right: 30rem; }
    .contact__form-name {
      height: 2.5rem;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      border: .2rem solid #ccc;
      border-radius: 4px;
      width: 80rem; }
    .contact__form-email {
      height: 2.5rem;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      border: .2rem solid #ccc;
      border-radius: 4px;
      width: 80rem; }
    .contact__form-subject {
      height: 2.5rem;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      border: .2rem solid #ccc;
      border-radius: 4px;
      width: 80rem; }
    .contact__form-message {
      height: 20rem;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      border: .2rem solid #ccc;
      border-radius: 4px;
      width: 80rem; }

.footer {
  background-color: #63768d;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  border-top-style: solid; }
  .footer__github {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center; }
  .footer__linkedin {
    grid-column: 3 / 4;
    align-self: center;
    justify-self: center; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(23, 29, 28, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(23, 29, 28, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #f7f7f7;
    box-shadow: 0 2rem 4rem rgba(23, 29, 28, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.8rem;
    margin-bottom: 4rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #171D1C;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #54B0FD; }

.heading-secondary {
  font-size: 2.2rem; }

.heading-tertiary {
  font-size: 2.0rem; }
