.about{
    background-image:linear-gradient(to left bottom, rgba($color-four, 0.8), rgba($color-secondary, 0.8)), url("../img/boundary-waters.jpg");
    border-top-style: solid;
    border-top-color: $color-light;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;


    &__textbox{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        background-color: $color-primary;
        border-style: solid;
        border-width: .1rem;
        border-radius: .4rem;
        border-color: $color-four;
        display: grid;
        grid-template-columns: [img-start] 1fr [img-end] 1fr [info-end];
        grid-template-rows: [head-start] 1fr [head-end] 6fr [rest-end];

        &-header{
            grid-row: head-start / head-end;
            grid-column: img-start / info-end;
            justify-self: center;
            align-self: center;
        }

        &-info{
            grid-column: img-end / info-end;
            grid-row: head-end / rest-end;
        }

    }

}