$color-primary: #54B0FD;
$color-secondary: #63768d;
$color-tertiary: #E1CA96;
$color-dark: #171D1C;
$color-four: #0A2239;
$color-light: #f7f7f7;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Libre Franklin', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 10vh 80vh 80vh 60vh 10vh;
    grid-template-columns: repeat(autofill, minmax(160px, 1fr));
    width: 100vw;
    font-size: 1.5rem;

    @media only screen and (max-width: 62.5em){
        grid-template-rows: 15vh 100vh 100vh 100vh 10vh;
        
    }

    // @media screen {

    // }
}





