.footer {
    background-color: $color-secondary;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    border-top-style: solid;
    
    

    &__github{
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center;
        
    }

    &__linkedin{
        grid-column: 3 / 4;
        align-self: center;
        justify-self: center;
    }
}