

.header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    background-color: $color-secondary;
    color: $color-light;
    border-bottom-style: solid;
    grid-auto-flow: row dense;
    @media only screen and (max-width: 62.5em){
        grid-template-rows: repeat(2, 1fr);
    }

    &__name{
        align-self: center;
        justify-self: center;
        font-size: 4rem;
        font-weight: bolder;
        text-transform: uppercase;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    &__link{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        align-self: center;
        justify-self: center;
        
        &-github-image{
            align-self: center;
            justify-self: center;
        }

        &-linkedin-image{
            align-self: center;
            justify-self: center;
        }
    }
}