@mixin border-style {
    border-style: solid;
    border-width: .1rem;
    border-radius: .4rem;
    border-color: $color-four;
}

.projects{
    display: grid;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-four, 0.8)), url("../img/minneapolis_skyline.jpg");
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr repeat(4, 2fr) 1fr;
    

    &__header{
        font-size: 4rem;
        font-weight: bolder;
        color: $color-four;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;
    }

    &__card{
        background-color: $color-light;
        width: 25rem;
        height: 45rem;
        border-radius: .4rem;
        @include border-style;
        display: grid;
        grid-template-columns: [card-start] 1fr [card-end];
        grid-template-rows: [img-start] 1fr [img-end] 1fr [title-end] 1fr [desc-end] 1fr [button-end];

        &-images{
            width: inherit;
            @include border-style;
            grid-row: img-start / img-end;
            grid-column: card-start / card-end;
        }

        &-title{
            grid-column: card-start / card-end;
            grid-row: img-end / title-end;
            justify-self: center;
            align-self: center;
            font-size: 3rem;
            font-weight: bold;
        }
        
        &-description{
            grid-column: card-start / card-end;
            grid-row: title-end / desc-end;
            justify-self: center;
            align-self: center;
        }

        &-btn{
            grid-column: card-start / card-end;
            grid-row: desc-end / button-end;
            height: 4rem;
            align-self: end;
        }

        &-1{
            grid-row: 2 /3;
            grid-column: 2 / 3;
            justify-self: center;
            padding: 2rem;
            
        }

        &-2{
            grid-row: 2 /3;
            grid-column: 3 / 4;
            justify-self: center;
            padding: 2rem;
        }

        &-3{
            grid-row: 2 /3;
            grid-column: 4 / 5;
            justify-self: center;
            padding: 2rem;
        }

        &-4{
            grid-row: 2 /3;
            grid-column: 5 / 6;
            justify-self: center;
            padding: 2rem;
        }

    }   
}